<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ABOUT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item color="danger">
      <ion-label class="ion-text-center">ELEKTRONIK TEKNIK SIPIL (E-TEPI) V1.5</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tentang aplikasi</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplikasi untuk membantu perhitungan Teknik Sipil, dibuat pada 10/05/2021 oleh Devaldi Akbars
      Mahasiswa Universitas Nahdlatul Ulama Surabaya. <br><br>
      
        VERSI 1.5<br>
        - Perbaikan rumus<br>
        - Penambahan fungsi perhitungan luas atap rumah tipe pelana<br>
        - Penambahan fungsi perhitungan ukuran pondasi footplat<br>
        - Penambahan situs YouTube Atdevaldiakbar<br>
        - Perbaikan bug perhitungan<br>
        - Penambahan konten<br>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Partner</ion-card-title>
    </ion-card-header>

  <ion-item>
    <ion-avatar slot="start">
      <img src="./assets/img/4.JPG">
    </ion-avatar>
    <ion-label>Zulfa Salsabila . N</ion-label>
  </ion-item>

  <ion-card-header>
    <ion-card-title>Sumber Kontribusi</ion-card-title>
  </ion-card-header>

  <ion-item href="https://www.youtube.com/channel/UCM57CgZGgBIhpWqW6815-nQ">
    <ion-avatar slot="start">
      <img src="https://yt3.ggpht.com/yti/ANoDKi5mQhHPnCk9zRd5K4raHlUVaPuMWhps99wmH47b=s108-c-k-c0x00ffffff-no-rj">
    </ion-avatar>
    <ion-label>ATDEVALDIAKBAR</ion-label>
  </ion-item>

  <ion-item href="https://youtu.be/uKux3wp0XYU">
    <ion-avatar slot="start">
      <img src="https://yt3.ggpht.com/ytc/AAUvwniKngj3cNdv2wsvbppkkxK1RSdk6_7b-yGI6Lly=s176-c-k-c0x00ffffff-no-rj">
    </ion-avatar>
    <ion-label>CHANNEL ALIM BANGUNAN</ion-label>
  </ion-item>

  <ion-item href="https://youtu.be/Y_CHCxSilio">
    <ion-avatar slot="start">
      <img src="https://yt3.ggpht.com/ytc/AAUvwngii9sERvsXAGadpqlztul1o_50W-7eCgFPEbKu=s176-c-k-c0x00ffffff-no-rj">
    </ion-avatar>
    <ion-label>Mr. ThomDS</ion-label>
  </ion-item>

  <ion-card-header>
    <ion-card-title>Tools</ion-card-title>
  </ion-card-header>

  <ion-item href="https://ionic.io/">
    <ion-avatar slot="start">
      <img src="https://pbs.twimg.com/profile_images/1148952014036054016/xxv7lLvp_400x400.jpg">
    </ion-avatar>
    <ion-label>Ionic Framework</ion-label>
  </ion-item>

  <ion-item href="https://www.youtube.com/">
    <ion-avatar slot="start">
      <img src="https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube_icon_full-color.svg?cache=f2ec7a5">
    </ion-avatar>
    <ion-label>YouTube</ion-label>
  </ion-item>

  <ion-item href="https://code.visualstudio.com/">
    <ion-avatar slot="start">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Visual_Studio_Code_1.35_icon.svg/1200px-Visual_Studio_Code_1.35_icon.svg.png">
    </ion-avatar>
    <ion-label>Visual Studio</ion-label>
  </ion-item>

  <ion-item href="https://developer.android.com/">
    <ion-avatar slot="start">
      <img src="https://2.bp.blogspot.com/-tzm1twY_ENM/XlCRuI0ZkRI/AAAAAAAAOso/BmNOUANXWxwc5vwslNw3WpjrDlgs9PuwQCLcBGAsYHQ/s1600/pasted%2Bimage%2B0.png">
    </ion-avatar>
    <ion-label>Android Studio</ion-label>
  </ion-item>

  <ion-card-header>
    <ion-card-title>Pengembang</ion-card-title>
  </ion-card-header>

  <ion-item href="https://wa.me/c/6282143636001">
    <ion-avatar slot="start">
      <img src="./assets/img/5.png">
    </ion-avatar>
    <ion-label>DEVALDI AKBAR SURYADI</ion-label>
  </ion-item>

</ion-card>

  <ion-card>
    <ion-item color="danger">
      <ion-label class="ion-text-center">E-TEPI © 2021 BY ATDEVALDIAKBAR</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
