<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-TEKNIK SIPIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="./assets/img/1.png" />
    <ion-item>
      <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
      <ion-label>MENGHITUNG LUAS ATAP RUMAH</ion-label>
      <ion-button fill="outline" slot="end" href="page1">BUKA</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <img src="./assets/img/2.png" />
    <ion-item>
      <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
      <ion-label>MENGHITUNG UKURAN PONDASI FOOTPLAT</ion-label>
      <ion-button fill="outline" slot="end" href="page2">BUKA</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <img src="./assets/img/6.png" />
    <ion-item>
      <ion-icon name="arrow-redo-outline" slot="start"></ion-icon>
      <ion-label>COMING SOON</ion-label>
      <ion-button fill="outline" slot="end" href="https://youtu.be/NoimganqAFw">BUKA</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
