<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>PONDASI FOOTPLAT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="showInfo">
    <ion-item color="warning">
      <ion-label align ="center">GLOSARIUM</ion-label>
      <ion-button color="light" fill="outline" slot="end" (click)="goCloseInfo()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-item>
    
    <!-- GLOSARIUM -->
    <ion-card-content>
      <ion-row align="center">
        <ion-col>
          <div>σ = TEGANGAN TANAH</div>
          <div>(< 0.4 : Tanah Lentur)</div>
        </ion-col>
        <ion-col>
          <div>P = GAYA TEKAN</div>
          <div>(0.5 : Tanah Normal )</div>
          <div>RUMUS σ = P / A</div>
        </ion-col>
        <ion-col>
          <div>A = LUAS PENAMPANG</div>
          <div>(> 0.6 : Tanah Keras )</div>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

  <!-- MODEL PELANA -->
    <ion-card>
      <img src="./assets/img/2.png" />
      <ion-item color="success">
        <ion-button color="light" fill="outline" slot="end" (click)="goShowInfo()">INFO</ion-button>
        <ion-icon name="trending-up-outline" slot="start"></ion-icon>
        <ion-label>UKURAN PONDASI FOOTPLAT</ion-label>
      </ion-item>
    </ion-card>

  <!-- INPUT FIXED CASH FLOW -->
  <ion-card>  
    <ion-card-content>
      <ion-item>

        <ion-label position="stacked">P / Kg (GAYA TEKAN) (Ex : 10000Kg Etabs / SAP)</ion-label>
        <ion-input [(ngModel)]="gayatekan" type="number"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="outline" (click)="hasilA()" color="success" >DAPATKAN NILAI A</ion-button>
      <ion-item>
        <ion-label position="stacked">0.5 Kg/Cm<sup>2</sup> -> 5000 Kg/M<sup>2</sup></ion-label>
        <ion-input type="number" disabled>5000 M<sup>2</sup></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">A = P / 5000 (LUAS PENAMPANG)</ion-label>
        <ion-input type="number" disabled>P x L > {{aluaspenampang}} M<sup>2</sup></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">P / M (PANJANG)</ion-label>
        <ion-input [(ngModel)]="panjang" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">L / M (LEBAR)</ion-label>
        <ion-input [(ngModel)]="lebar" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Hasil σ</ion-label>
        <ion-input type="number" disabled>{{kesimpulan}}</ion-input>
      </ion-item>
    </ion-card-content>
    <br>
    <ion-row align="center">
      <ion-col>
        <div><ion-button expand="block" fill="outline" (click)="reset()" color="danger" >RESET</ion-button></div>
      </ion-col>
      <ion-col>
        <div><ion-button expand="block" fill="outline" (click)="hasil()" color="success" >HASIL</ion-button></div>
      </ion-col>
    </ion-row>
    <br>
  </ion-card>  

</ion-content>
